@import '../../styles/variables';

.boardGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 60px);
  gap: 25px;
  justify-content: center;
  padding: 25px;
  border-radius: 9px;
}

button {
  font-family: $spartan;
  border-radius: 9px;
  font-size: 26px;
  border: none;
  &:active{
      transform: scale(0.98);
      box-shadow: none;
  }
}

.clear {
  grid-column: 1/3;
}

.equals {
  grid-column: 3/5;
}

.clear, .del, .equals {
    font-size: 17px;
}
