// FONTS
$spartan: 'Spartan', sans-serif;

// COLORS

// THEME 1
// BACKGROUNDS
$mainBcknd1: #3a4764;
$toggleBcknd1: #232c43;
$screenBcknd1: #182034;

// KEYS
$blueKeyBcknd1: #637097;
$blueKeyShadow1: #404e72;
$redKeyBcknd1: #00e0d1;
$redKeyShadow1:  #93261a;
$orangeKeyBcknd1: #eae3dc;
$orangeKeyShadow1: #b4a597;

// TEXT
$keyTextColor1: #444b5a;
$displayTextColor1: #fff;