@import './styles/variables';
@import './styles/mixins';

.App {
    font-family: $spartan;
    padding: 90px 0;
}

.wrapper{
    width: 540px;
    margin: auto;
    @include breakPointDown('580'){
        width: 360px;
    }
}